<!doctype html>
<html>
  <head>
    <title>{{ T "layout.title" }}</title>
  </head>
  <body>
    <header>{{ T "layout.header" }}</header>
    {{ embed }}
    <footer>{{ T "layout.footer" }}</footer>
  </body>
</html>
